/* utilities */
.font-20{
    font-size: 1.25rem;
}

/* navbar style */
.nav-bg{
    background-color: #0D1721;
}

/* hover over link */
.link-hover:hover{
    border-bottom: 2px solid #0000ff;
    transition: ease-in-out 1s;
    cursor: pointer;
}

.link-hover:active {
    color: #0000ff;
}

/* categories background */
.categories-bg {
    background-color: #0D1721;
}
