/* utilities */
.font-20{
    font-size: 1.25rem;
}

/* navbar style */
.nav-bg{
    background-color: #0D1721;
}

/* hover over link */
.link-hover:hover{
    border-bottom: 2px solid #0000ff;
    transition: ease-in-out 1s;
    cursor: pointer;
}

/* categories background */
.categories-bg {
    background-color: #0D1721;
}

/* footer */
footer{
    background-color: #333;
    color: #fafafa;
    height: 50vh;
}

@media only screen and (max-width: 400px) {
    #card-sm-text {
        font-size: 0.5rem;
    }
    #card-sm-text a {
        font-size: 0.5rem;
    }
}